<div style="margin-bottom: 50px;">
  <div class="row">
    <div class="col-lg-12">
       <img [src]="recipe.imagePath" 
       alt="{{recipe.name}}" 
       class="center-block"
       style="width: 400px;height: 400px;border: 2px solid black;">
     </div>
  </div>
  
  <div class="row">
    <div class="col-lg-12" style="border-radius: 10px;margin: 5px 0px;">
      <h1 >{{recipe.name}}</h1> 
     </div>
  </div>
  
  <h3><i class="fa fa-cutlery" aria-hidden="true"></i> Steps</h3>
  <hr>
  <div class="row">
    <div class="col-xs-12" >
    <ul >
     
       <li *ngFor = 'let steps of recipe.description' >
         {{steps}}</li>
     
    </ul>
  </div>
</div> 
  <hr>

  <div class="row">
    <div class="col-lg-12" style="text-align: center;">
      <div class="btn-group"
           appDropDown >
        <button type="button" 
                class="dropdown-toggle" style="width: 400px;border-radius: 10px;border: none;background-color: #337AB7;color: white;padding: 10px;font-size: 14px;" >
             Manage Recipe 
             <span class="caret"></span> 
        </button>
        <ul class="dropdown-menu" style="width: 400px;">
          <li><a  (click)="onAddToShoppingList()" style="cursor:pointer">To Shopping List</a></li>
          <li><a style="cursor:pointer" (click)="onEditRecipe()">Edit Recipe</a></li>
         </ul>
      </div>
    </div>
  </div>

  <h3><i class="fa fa-list" aria-hidden="true"></i> Ingredients </h3>
  <hr>
  <div class="row">
     <div class="col-xs-12">
       <ul class="list-group"  style="padding: 10px;">
        <li class="list-group-item"
            *ngFor = "let ingredient of recipe.ingredients">
          <span style="text-transform: capitalize;">{{ingredient.name}}</span>
          <span style="float: right;text-transform: capitalize;background-color: yellowgreen;border-radius: 20px;
          height: 20px;
          padding: 0px 20px;
          color: white;">{{ingredient.amount}}</span>

          </li>
       </ul>
     </div> 
  </div>
