<div class="row">
    <div class="col-xs-8">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <a 
            class="list-group-item"
             style="cursor: pointer;"
             *ngFor = "let ingredient of ingredients; let i = index" 
             (click)="onEditItem(i)">
             <span style="text-transform: capitalize;">{{ingredient.name}}</span> 
             <span style="float: right;text-transform: capitalize;background-color: yellowgreen;border-radius: 20px;
          height: 20px;
          padding: 0px 20px;
          color: white;">{{ingredient.amount}}</span>
                </a>
        </ul>
    </div>
</div>